{% extends "admin/change_list.html" %}
{% load i18n static admin_list %}

{% block result_list %}
  {% if show_upload_files_btn %}
    <style>
      .upload-link {
        display: block;
        float: right;
        padding: 3px 12px;
        background: var(--object-tools-bg);
        color: var(--object-tools-fg) !important;
        font-weight: 400;
        font-size: 0.6875rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        border-radius: 15px;
        line-height: 20px;
      }

    .upload-link:hover {
      background-color: var(--object-tools-hover-bg) !important;
    }
    </style>

    <a href="{% url 'admin:index' %}" class="upload-link">Загрузить файлы в БД</a>
  {% endif %}
  {{ block.super }}
{% endblock %}